*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color:;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main .cng_btn {
    padding: 16px 28px;
    border-radius: 24px;
    letter-spacing: 1px;
    outline: none;
    border: none;
    font-size: 18px;
    background-color: rgb(248, 144, 47);
}


.box {
    padding-top: 90px;
}